@import '@/style/abstract/fonts';
@import '@/style/abstract/variables';
@import '@/style/abstract/global';

.input-container {
    position: relative;
    display: inline-block;
  }
  
  .input-container input {
    padding-left: 40px; // SVG 이미지의 너비만큼 왼쪽에 여백 추가
  }
  
  .input-container svg {
    position: absolute;
    left: 10px; // 입력창 왼쪽에 위치
    top: 50%;
    transform: translateY(-50%);
  }
  