.teamInfo {
    width: 50rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 20px;
    padding-bottom: 20px;

    &__container {
        background-color: $black;
        width: 100%;
    }
}
