.clickable-icon {
    cursor: pointer;

    &:hover {
        * {
            color: $black;
        }
    }
}

.clickable-div {
    cursor: pointer;

    &:hover {
        background-color: $line;
    }
}
