// FONTS
@font-face {
    font-family: 'Wanted Sans Variable', 'Wanted Sans', -apple-system, BlinkMacSystemFont, system-ui, 'Segoe UI',
        'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        sans-serif;
    src: url('https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/static/split/WantedSans.min.css');
}

// FONTS
@font-face {
    font-family: 'Wanted-ExtraBold';
    src: url('@/assets/fonts/WantedSans-ExtraBold.ttf');
}

@font-face {
    font-family: 'Wanted-Bold';
    src: url('@/assets/fonts/WantedSans-Bold.ttf');
}

@font-face {
    font-family: 'Wanted-Medium';
    src: url('@/assets/fonts/WantedSans-Medium.ttf');
}

@font-face {
    font-family: 'Wanted-Regular';
    src: url('@/assets/fonts/WantedSans-Regular.ttf');
}

@font-face {
    font-family: 'Wanted-Black';
    src: url('@/assets/fonts/WantedSans-Black.ttf');
}

@font-face {
    font-family: 'Wanted-ExtraBlack';
    src: url('@/assets/fonts/WantedSans-ExtraBlack.ttf');
}

@font-face {
    font-family: 'Esa-Bold';
    src: url('@/assets/fonts/Esamanru-Bold.ttf');
}

@font-face {
    font-family: 'Esa-Medium';
    src: url('@/assets/fonts/Esamanru-Medium.ttf');
}

@font-face {
    font-family: 'Esa-Light';
    src: url('@/assets/fonts/Esamanru-Light.ttf');
}

@font-face {
    font-family: 'Digit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
