// FONTS
@font-face {
    font-family: 'Wanted-ExtraBold';
    src: url('@/assets/fonts/WantedSans-ExtraBold.ttf');
}

@font-face {
    font-family: 'Wanted-Bold';
    src: url('@/assets/fonts/WantedSans-Bold.ttf');
}

@font-face {
    font-family: 'Wanted-Medium';
    src: url('@/assets/fonts/WantedSans-Medium.ttf');
}

@font-face {
    font-family: 'Wanted-Regular';
    src: url('@/assets/fonts/WantedSans-Regular.ttf');
}

@font-face {
    font-family: 'Star';
    src: url('@/assets/fonts/Star.ttf');
}
