@import '@/style/abstract/variables';
@import '@/style/abstract/fonts';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: $black;
    font-family: 'Wanted-Bold';
}

body{
    min-width: $BODY_MIN_WIDTH;
}

.container{
    padding-top: $HEADER_HEIGHT;   
    padding-bottom: $NAV_HEIGHT;
}

.background{
    position: fixed;
}