// COLORS
$main: #88ba53;
$sub: #ebc069;
$line: #D9D9D9;
$gray: #AAAAAA;
$black: #222222;
$dark: #404040;
$bright: #FCFCFC;
$light: #EEEEEE;
$modalbg: #AAAAAA50;

// 전체 레이아웃
// $BODY_MIN_WIDTH: 1200px;
$BODY_MIN_WIDTH: 1400px;


$CONTENT_WIDTH_RATIO: 50%;

// 헤더, 네브 사이즈
$HEADER_HEIGHT: 60px;
$NAV_HEIGHT: 60px;

// 모서리
$RADIUS: 20px;

// RESPONSIBLE
// 모바일
$breakpoint-mobile: 335px;

// 모바일에서 태블릿
$breakpoint-tabletToMobile: 535px;

// 태블릿
$breakpoint-tablet: 720px;

// 태블릿에서 노트북
$breakpoint-laptopToTablet: 960px;

// 노트북
$breakpoint-laptop: 1024px;

// 노트북에서 데스크탑
$breakpoint-desktopToLaptop: 1500px;

// 데스크탑
$breakpoint-desktop: 1800px;