@import '@/style/abstract/variables';
@import '@/style/abstract/fonts';

.color-main{
    background-color: $main;
}

.color-sub{
    background-color: $sub;
}

.color-main{
    background-color: $main;
}

.color-main{
    background-color: $main;
}

.medium{
    width: 300px;
}
.true{
    opacity: 0.5;
}
.false{
    opacity: 1;
}