@import '@/style/abstract/variables';
@import '@/style/abstract/fonts';

.contentCard {
    width: 100%;
    padding: 20px;
    background-color: $bright;
    border-radius: $RADIUS;

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;

        &-text {
            font-family: 'Wanted-ExtraBlack';
            letter-spacing: 3px;
        }
    }
}
