@import '@/style/abstract/variables';
@import '@/style/abstract/fonts';

.contentCard {
    width: 100%;
    padding: 30px;
    background-color: $bright;
    border-radius: $RADIUS;

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;

        &-text {
            font-family: 'Wanted-ExtraBlack';
            letter-spacing: 2px;
        }

        &-week {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 900;

            * {
                color: $dark;
            }

            .black {
                font-size: 14px;
                color: $black;
            }
        }

        &-today {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 900;
            letter-spacing: 1px;

            .green {
                color: $main;
            }
            .gray {
                color: $dark;
            }
        }
    }
}
