.financeDetail {
    width: 55rem;

    &__container {
        display: flex;
        justify-content: center;

        width: 100%;
    }

    &__inputList {
        background-color: $light;
        padding: 1rem;
        border-radius: 1rem;

        &-main {
        }

        &-sub {
            display: flex;
            justify-content: space-around;

            input {
                width: 7rem;
                padding: 0 0.1rem;
            }
        }
    }

    &__tabButton {
        display: flex;
        justify-content: space-around;
        font-family: 'Wanted-Bold';
    }

    &__inputList {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &-main {
            &-input {
                width: 100%;
            }
        }

        &-sub {
            display: flex;

            &-company {
                display: flex;
            }

            &-req {
                display: flex;
            }

            &-fee {
                display: flex;
            }
        }
    }

    .cardItem {
        display: flex;

        &__content {
            display: flex;
            flex-direction: column;

            &-category {
                display: flex;
                gap: 1rem;
            }

            &-bottom {
                display: flex;
                gap: 2rem;
            }
        }
    }
}
