@import '@/style/abstract/variables';

$HEADER_HEIGHT: 80px;

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: $HEADER_HEIGHT;

    &__container{
        display: flex;
        justify-content: center;
        background-color: $bright;
        position: fixed;
        top: 0;
        width: 100%;
    }

    &__menubar{
        display: flex;
        gap: 40px;
        align-items: center;
    }

    &__logo{
        img{
            width: 180px;
        }
    }

    
}


