$BORDER_RADIUS: 1.3rem;
$PADDING: 10px;
$LETTER_SPACING: 2px;

.marketTop {
    display: flex;
    justify-content: space-between;

    div,
    button {
        font-family: 'Wanted-Medium';
        letter-spacing: $LETTER_SPACING;
    }

    &__point {
        display: flex;
        align-items: center;

        &-title {
            padding: $PADDING;
            background-color: $gray;
            border-top-left-radius: $BORDER_RADIUS;
            border-bottom-left-radius: $BORDER_RADIUS;
            box-shadow: 0 0.2rem 0 $black;

            color: $bright;

            display: flex;
            align-items: center;
            gap: 0.3rem;

            div {
                color: $bright;
            }
        }

        &-value {
            display: flex;
            align-items: center;
            padding: $PADDING;
            background-color: $bright;
            border-top-right-radius: $BORDER_RADIUS;
            border-bottom-right-radius: $BORDER_RADIUS;
            height: 100%;
            box-shadow: 0 0.2rem 0 $black;
        }
    }

    &__search {
        display: flex;

        &-input {
            background-color: $bright;
            border: none;
            padding: $PADDING;
            border-top-left-radius: $BORDER_RADIUS;
            border-bottom-left-radius: $BORDER_RADIUS;
            font-size: 16px;
            box-shadow: 0 0.2rem 0 $black;
            outline: none;
        }

        &-button {
            background-color: $gray;
            border: none;
            padding: $PADDING;
            border-top-right-radius: $BORDER_RADIUS;
            border-bottom-right-radius: $BORDER_RADIUS;
            cursor: pointer;
            color: $bright;
            box-shadow: 0 0.2rem 0 $black;
        }
    }

    &__record {
        display: flex;
        align-items: center;
        &-item {
            background-color: $gray;
            padding: $PADDING;
            border-radius: $BORDER_RADIUS;
            color: $bright;
            border: none;
            cursor: pointer;
        }
    }
}
