$GAP: 20px;

.marketItemModal {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: $GAP;
    box-shadow: 0 0 6px $gray;
    animation: modalFadein 0.22s ease-in-out;

    &__top {
        &-image {
            background-color: $sub;
            height: 300px;
            border-radius: 20px;
            display: flex;
            justify-content: center;
        }
    }

    &__middle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $black;
        padding-bottom: $GAP;

        &-left {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        &-right {
            display: flex;
            gap: 0.5rem;
            align-items: center;
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        gap: 5px;

        &-type {
            display: flex;
            gap: 0.5rem;
        }

        &-exp {
            display: flex;
            gap: 0.5rem;
        }
    }

    &__button {
        background-color: $main;
        color: $bright;
        padding: 5px;
        border-radius: 10px;
        font-size: 20px;
        text-align: center;
    }
}
