.marketReceiptTop {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;

    &__left {
        cursor: pointer;
    }

    &__right {
        &-button {
            background-color: $main;
            padding: 8px;
            border-radius: 10px;
            border: none;
            color: $bright;
        }
    }
}
