@import '@/style/abstract/mixin';

.welcomebox {
    background-color: $bright;
    box-shadow: 0 0 1rem $gray;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;

    &__container {
        background-image: url('@/style/abstract/background.svg');
        isolation: isolate;
        position: relative;

        ::after {
            position: fixed;
            background-color: $bright;
            z-index: -1;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0.05;
            content: '';
        }
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__middle {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 1rem;

        &-email {
            @include inputArea();
        }

        &-pw {
            @include inputArea();
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.3rem;

        &-forgot {
            align-self: end;
            font-family: 'Wanted-ExtraBold';
        }

        &-login {
            text-align: center;
            font-family: 'Wanted-ExtraBold';
            letter-spacing: 0.4rem;

            button {
                background-color: $sub;
                width: 22rem;
                height: 3rem;
            }
        }

        &-account {
            margin-top: 1.2rem;
            display: flex;
            gap: 1rem;
            align-content: center;

            div,
            button {
                font-family: 'Wanted-ExtraBold';
            }

            button {
                color: $main;
                text-decoration: underline;
            }
        }
    }
}

.welcomebox {
    @include welcomebox();
}
