@import '@/style/abstract/variables';

.teamApplyModal {
    background-color: $bright;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;

    &__top {
        background-color: $line;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;

        &-title {
            font-size: 30px;
        }
    }
}