@import '@/style/abstract/variables.scss';
@import '@/style/abstract/fonts.scss';

.color-main{
    background-color: $main;
}

.color-sub{
    background-color: $sub;
}

.color-main{
    background-color: $main;
}

.color-main{
    background-color: $main;
}

.medium{
    width: 300px;
}