@import '@/style/abstract/variables';

.expenditureWeekly {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    gap: 20px;
=======
    gap: 30px;
    font-size: 14px;
>>>>>>> origin/develop/FE

    &__content {
        &-weekDay {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            align-items: center;
            justify-content: center;
        }

        &-weekDay {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            align-items: center;
            justify-content: center;
        }

        &-weekDay {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            align-items: center;
            justify-content: center;
        }
    }
}
